
cache/*
Artifacts/*
start.cmd/*
resources/\[stream\]/
resources/\[assets\]/
resources/\[cfx-default\]/\[system\]/\[builders\]/yarn/yarn_cli.js
resources/\[cfx-default\]/\[system\]/\[builders\]/yarn/yarn_builder.js
resources/\[cfx-default\]/\[system\]/\[builders\]/yarn/fxmanifest.lua
resources/\[cfx-default\]/\[system\]/\[builders\]/webpack/webpack_runner.js
resources/\[cfx-default\]/\[system\]/\[builders\]/webpack/webpack_builder.js
resources/\[cfx-default\]/\[system\]/\[builders\]/webpack/package.json
resources/\[cfx-default\]/\[system\]/\[builders\]/webpack/fxmanifest.lua
resources/\[oxlib\]/ox_inventory/web/tsconfig.json
resources/\[oxlib\]/ox_inventory/web/src/*
resources/\[oxlib\]/ox_inventory/web/package.json
resources/\[oxlib\]/ox_inventory/web/pnpm-lock.yaml
resources/\[oxlib\]/ox_inventory/web/tsconfig.node.json
resources/\[oxlib\]/ox_inventory/web/vite.config.ts
resources/\[oxlib\]/ox_inventory/web/.prettierrc
resources/\[rhodinium\]/bl_coords-live/*
resources/\[standalone\]/screenshot-basic/ui/tsconfig.json
resources/\[standalone\]/screenshot-basic/ui/src/main.ts
resources/\[standalone\]/screenshot-basic/ui/index.html
resources/\[standalone\]/screenshot-basic/ui.config.js
resources/\[standalone\]/screenshot-basic/src/server/types/@citizenfx/http-wrapper.d.ts
resources/\[standalone\]/screenshot-basic/src/server/tsconfig.json
resources/\[standalone\]/screenshot-basic/src/server/server.ts
resources/\[standalone\]/screenshot-basic/src/client/tsconfig.json
resources/\[standalone\]/screenshot-basic/src/client/client.ts
resources/\[standalone\]/screenshot-basic/server.config.js
resources/\[standalone\]/screenshot-basic/README.md
resources/\[standalone\]/screenshot-basic/package.json
resources/\[standalone\]/screenshot-basic/LICENSE
resources/\[standalone\]/screenshot-basic/client.config.js
resources/\[standalone\]/screenshot-basic/fxmanifest.lua
